force-app/main/default/flows/CALCULATIONBATCH_TRG_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Holding_Costs</name>
        <label>Calculate Holding Costs</label>
        <locationX>380</locationX>
        <locationY>1463</locationY>
        <actionName>CalculationsHoldingCost</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_with_Holding_Costs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>periodLength</name>
            <value>
                <elementReference>$Record.Period__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>$Record.Total_registration_tax__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleAge</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleDamageGroup</name>
            <value>
                <elementReference>$Record.Vehicle_Group__r.Service_and_Damage_Group__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_the_calculation_record</name>
        <label>Lock the calculation record</label>
        <locationX>435</locationX>
        <locationY>2039</locationY>
        <actionName>LockingUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lockRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Valuta_Contact_Fee_from_L94_field</name>
        <label>Valuta Contact Fee from L94 field</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varValutaContractFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_leasing_rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valuta_Contract_Fee_from_Valuta_field</name>
        <label>Valuta Contract Fee from Valuta field</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varValutaContractFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_finance__r.Leasing_contract_fee_valuta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_leasing_rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valuta_rate_from_L94_rate_field</name>
        <label>Valuta rate from L94 rate field</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varValutaLeasingRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_finance__r.Leasing_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Different_Valuta_Contract_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valuta_rate_from_Valuta_rate_field</name>
        <label>Valuta rate from Valuta rate field</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varValutaLeasingRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_finance__r.Leasing_Rate_Valuta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Different_Valuta_Contract_Fee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Different_rate_for_Valuta</name>
        <label>Different rate for Valuta</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Valuta_rate_from_L94_rate_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_valuta_rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_finance__r.Leasing_Rate_Valuta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valuta_rate_from_Valuta_rate_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Valuta_Contract_Fee</name>
        <label>Different Valuta Contract Fee</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Valuta_Contact_Fee_from_L94_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_valuta_fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_finance__r.Leasing_contract_fee_valuta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valuta_Contract_Fee_from_Valuta_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financing_field_populated_Yes_No</name>
        <label>Financing field populated?  Yes / No</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Calculate_Holding_Costs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Financing_field_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_finance__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Different_rate_for_Valuta</targetReference>
            </connector>
            <label>Financing field populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is it still in Draft?</description>
        <name>Is_it_in_Draft</name>
        <label>Is it in Draft?</label>
        <locationX>567</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_in_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financing_field_populated_Yes_No</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected?</label>
        <locationX>567</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_the_calculation_record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>Populate leasing fee and leasing rate from account
update holding cost after calculation batch record is inserted or updated</description>
    <interviewLabel>CALCULATIONBATCH_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CALCULATIONBATCH_TRG_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>567</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Is_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_leasing_rate</name>
        <label>Update leasing rate</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Calculate_Holding_Costs</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_fee_Valuta__c</field>
            <value>
                <elementReference>varValutaContractFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_fee__c</field>
            <value>
                <elementReference>$Record.Account_finance__r.Leasing_contract_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_rate_Financing_Valuta__c</field>
            <value>
                <elementReference>varValutaLeasingRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intrest_rate_financing__c</field>
            <value>
                <elementReference>$Record.Account_finance__r.Leasing_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_Holding_Costs</name>
        <label>Update with Holding Costs</label>
        <locationX>380</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Update_Description</targetReference>
        </connector>
        <inputAssignments>
            <field>Damages__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_towards_Tax__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.interestToTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L94_registration_tax__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.registrationTaxL94</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tires_Service__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.serviceAndTyres</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_in_Draft</targetReference>
        </connector>
        <object>Batch_Calculator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varValutaContractFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varValutaLeasingRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
