force-app/main/default/flows/CALCULATIONBATCH_TRG_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Holding_Costs</name>
        <label>Calculate Holding Costs</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>CalculationsHoldingCost</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_with_Holding_Costs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>carGroup</name>
            <value>
                <elementReference>$Record.Car_Group__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodLength</name>
            <value>
                <elementReference>$Record.Period__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>$Record.Total_registration_tax__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleAge</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_the_calculation_record</name>
        <label>Lock the calculation record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>LockingUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lockRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Calculator_on_Batch_record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>update holding cost after calculation batch record is inserted or updated</description>
    <interviewLabel>CALCULATIONBATCH_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CALCULATIONBATCH_TRG_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Selected_Calculator_on_Batch_record</name>
        <label>Set Selected Calculator on Batch record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Lock_the_calculation_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.batch_relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Batch_Calculator__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vehicleBatch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_Holding_Costs</name>
        <label>Update with Holding Costs</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Is_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Damages__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_towards_Tax__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.interestToTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L94_registration_tax__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.registrationTaxL94</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tires_Service__c</field>
            <value>
                <elementReference>Calculate_Holding_Costs.serviceAndTyres</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Holding_Costs</targetReference>
        </connector>
        <object>Batch_Calculator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
