force-app/main/default/flows/Create_Transportation_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_formulas_Defleet</name>
        <label>Calculate formulas Defleet</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <actionName>TransportRequestUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Transport_Request_to_list_Defleet</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trs</name>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SingleTransportRequest</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_formulas_Infleet</name>
        <label>Calculate formulas Infleet</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>TransportRequestUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Transport_Request_to_list_Infleet</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trs</name>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SingleTransportRequest</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_formulas_regular_Tranport</name>
        <label>Calculate formulas regular Tranport</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <actionName>TransportRequestUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Transport_Request_to_list_Regular_Transport</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trs</name>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SingleTransportRequest</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Transport_Request_to_list_Defleet</name>
        <label>Add Transport Request to list Defleet</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>setTransportRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Vehicles_Defleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transport_Request_to_list_Infleet</name>
        <label>Add Transport Request to list Infleet</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>setTransportRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Vehicles_Infleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transport_Request_to_list_Regular_Transport</name>
        <label>Add Transport Request to list Regular Transport</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>setTransportRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransportRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Vehicles_Regular_Tranport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transport_Request_to_New_Collection</name>
        <label>Add Transport Request to New Collection</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>setTransportRequestNotReady</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Not_Ready_Transport_Reqeust</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Not_Ready_Transport_Reqeust</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_values_to_Transport_record_Defleet</name>
        <label>Assign Field values to Transport record Defleet</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Defleet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.From_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Defleet.Pickup_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.To_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Defleet.Buyer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Day_to_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_to_day_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Account_Number_Defleet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_formulas_Defleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_values_to_Transport_record_Infleet</name>
        <label>Assign Field values to Transport record Infleet</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Infleet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.From_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Infleet.Infleet_Pickup_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.To_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Infleet.Station__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Day_to_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_to_day_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Account_Number_Infleet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_formulas_Infleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_values_to_Transport_record_Regular_Transport</name>
        <label>Assign Field values to Transport record Regular Transport</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vehicles_Regular_Tranport.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.From_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pickup_Location_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.To_Location_Regular_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Location_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Day_to_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_to_day_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Account_Number_Regular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransportRequest.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_formulas_regular_Tranport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Not_Ready</name>
        <label>Assign Status Not Ready</label>
        <locationX>358</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Not_Ready_Transport_Reqeust.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transport_Request_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BMWCarTransport</name>
        <choiceText>BMW car transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BMW car transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAL_Transport</name>
        <choiceText>DAL Transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAL Transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Damage_Check</name>
        <choiceText>Damage Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damage Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>DaytoDayTransport</name>
        <choiceText>Day-to-day transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Day-to-day transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defleet_Transport</name>
        <choiceText>Defleet Transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defleet Transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Infleet_Transport</name>
        <choiceText>Infleet Transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Infleet Transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewCarTransport</name>
        <choiceText>New Car Transport​</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Car Transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Transport</name>
        <choiceText>Transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RegularTransport</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Needs_Manual_Changes</name>
        <label>Needs Manual Changes</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Transport_Request_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Yes_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Needs_manual_change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Not_Ready_Transport_Reqeust</targetReference>
            </connector>
            <label>Yes Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transportation_Request_Type_Decision</name>
        <label>Transportation Request Type</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Infleet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infleet</defaultConnectorLabel>
        <rules>
            <name>Defleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Defleet_Transport</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Defleet</targetReference>
            </connector>
            <label>Defleet</label>
        </rules>
        <rules>
            <name>Regular_Transport_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Regular_Transport</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Pickup_and_Delivery_Location</targetReference>
            </connector>
            <label>Regular Transport</label>
        </rules>
    </decisions>
    <description>Transport Request 3.0
 Defleet, Infleet and Regular Transport</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Account_Number_Defleet</name>
        <dataType>String</dataType>
        <expression>&quot;210700-&quot; + {!Loop_through_Vehicles_Defleet.Pickup_Location__r.Account.Station_Account_Num__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_Account_Number_Infleet</name>
        <dataType>String</dataType>
        <expression>IF({!Day_to_day_checkbox} = TRUE, &quot;210700-&quot; + {!Loop_through_Vehicles_Infleet.Station__r.Station_Account_Num__c}, {!Loop_through_Vehicles_Infleet.Dealer__r.Station_Account_Num__c} )</expression>
    </formulas>
    <formulas>
        <name>Formula_Account_Number_Regular</name>
        <dataType>String</dataType>
        <expression>&quot;210700-&quot; + {!Loop_through_Vehicles_Regular_Tranport.Dealer__r.Station_Account_Num__c}</expression>
    </formulas>
    <interviewLabel>Create Transportation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Transportation Request</label>
    <loops>
        <name>Loop_through_Not_Ready_Transport_Reqeust</name>
        <label>Loop through Not Ready Transport Request</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <collectionReference>setTransportRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Not_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Transport_Request_Not_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Vehicles_Defleet</name>
        <label>Loop through Vehicles Defleet</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Vehicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_values_to_Transport_record_Defleet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_TR_Before_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Vehicles_Infleet</name>
        <label>Loop through Vehicles Infleet</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Vehicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_values_to_Transport_record_Infleet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_TR_Before_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Vehicles_Regular_Tranport</name>
        <label>Loop through Vehicles Regular Tranport</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Vehicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_values_to_Transport_record_Regular_Transport</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_TR_Before_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transport_Request_Not_Ready</name>
        <label>Create Transport Request Not Ready</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>setTransportRequestNotReady</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Transport_Request_Ready</name>
        <label>Transport Request Ready</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>setTransportRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Vehicles</name>
        <label>Get Vehicles</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Transport_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Pickup_and_Delivery_Location</name>
        <label>Confirm Pickup and Delivery Location</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Vehicles_Regular_Tranport</targetReference>
        </connector>
        <fields>
            <name>Location_Help_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose pickup and delivery location. The locations will be applied to all selected vehicles &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pickup_Location_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pickup_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pickup Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Delivery_Location_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pickup_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Delivery Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_TR_Before_Create</name>
        <label>Confirm TR Before Create</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Needs_Manual_Changes</targetReference>
        </connector>
        <fields>
            <name>Confirm_TR_Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Transport_Request__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>setTransportRequest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;VIN_Number__c&quot;,&quot;guid&quot;:&quot;column-e6bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;VIN Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-83f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Model__c&quot;,&quot;guid&quot;:&quot;column-99fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Model&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_Number__c&quot;,&quot;guid&quot;:&quot;column-f336&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Pickup_Location_Code__c&quot;,&quot;guid&quot;:&quot;column-13be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Pickup Location Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;From_Location_Address__c&quot;,&quot;guid&quot;:&quot;column-42ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pickup Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;From Location Address&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Delivery_Location_Code__c&quot;,&quot;guid&quot;:&quot;column-7bf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Delivery Location Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;To_Location_Address__c&quot;,&quot;guid&quot;:&quot;column-b685&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;To Location Address&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Requested_Date__c&quot;,&quot;guid&quot;:&quot;column-8f79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Requested Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Day_to_Day__c&quot;,&quot;guid&quot;:&quot;column-e02a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Day-to-Day&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Needs_manual_change</name>
            <dataType>Boolean</dataType>
            <fieldText>Needs manual change</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If selected, the Transport Request status will be set to &quot;Not Ready&quot; and will not be uploaded until the status is manually set to &quot;New&quot;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Defleet</name>
        <label>Confirmation Defleet</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Vehicles_Defleet</targetReference>
        </connector>
        <fields>
            <name>Defleet_Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vehicles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;License_plate__c&quot;,&quot;guid&quot;:&quot;column-4609&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;License plate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;vinNumber__c&quot;,&quot;guid&quot;:&quot;column-74aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;VIN Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-3857&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Model__c&quot;,&quot;guid&quot;:&quot;column-5c5a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Model&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Defleet_Pickup_Location_Name__c&quot;,&quot;guid&quot;:&quot;column-3ea4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pickup Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Defleet Pickup Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Buyer_Name__c&quot;,&quot;guid&quot;:&quot;column-bc4e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Buyer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Infleet</name>
        <label>Confirmation Infleet</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Vehicles_Infleet</targetReference>
        </connector>
        <fields>
            <name>Infleet_Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vehicles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;vinNumber__c&quot;,&quot;guid&quot;:&quot;column-74aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;VIN Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-3857&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Model__c&quot;,&quot;guid&quot;:&quot;column-5c5a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Model&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Infleet_Pickup_Location_Name__c&quot;,&quot;guid&quot;:&quot;column-3ea4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pickup Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Infleet Pickup Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Station_Name__c&quot;,&quot;guid&quot;:&quot;column-bc4e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Location&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Station Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Dealer_Name__c&quot;,&quot;guid&quot;:&quot;column-70ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Dealer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Dealer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Transport_Type</name>
        <label>Select Transport Type</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transportation_Request_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Transport_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Transport_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transportation_type</name>
                    <choiceReferences>Infleet_Transport</choiceReferences>
                    <choiceReferences>Defleet_Transport</choiceReferences>
                    <choiceReferences>Regular_Transport</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Transportation type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Transport_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Day_to_day_checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Day-to-day</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>402</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Transport_Request_Succes</name>
            <fieldText>&lt;p&gt;Transport Request has been sucessfully created for all Vehicles&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setDamagedVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>setTransportRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transport_Request__c</objectType>
    </variables>
    <variables>
        <name>setTransportRequestNotReady</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleTransportRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleVehicleDamageCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
