force-app/main/default/flows/Defleet_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Ready_for_Defleet_in_COBRA</name>
        <label>Ready for Defleet in COBRA ?</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Deregister_in_SKAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Damagecheck_request_email_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_DAL_damage_check_required__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_for_robot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Defleet_in_COBRA</targetReference>
            </connector>
            <label>Yes4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Deregister_in_SKAT</name>
        <label>Ready for Deregister in SKAT?</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Send_Documents_Keys_to_buyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Damagecheck_request_email_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_DAL_damage_check_required__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_for_robot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Deregister_in_SKAT</targetReference>
            </connector>
            <label>Yes5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Invoice_Advis</name>
        <label>Ready for Invoice/Advis</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Defleet_in_COBRA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Buyer_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Damagecheck_request_email_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_DAL_damage_check_required__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Invoice_Advis</targetReference>
            </connector>
            <label>Yes3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Order_Damagecheck</name>
        <label>Ready for Order Damagecheck ?</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Invoice_Advis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_DAL_damage_check_required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Order_Damagecheck</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Redying</name>
        <label>Ready for Redying ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Transport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_to_Redying</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Send_Documents_Keys_to_buyer</name>
        <label>Ready for Send Documents &amp; Keys to buyer ?</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 and (5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Damagecheck_request_email_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_DAL_damage_check_required__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deregistered_in_SKAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Send_Documents_Keys_to_buyer</targetReference>
            </connector>
            <label>Yes6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Transport</name>
        <label>Ready for Transport ?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Order_Damagecheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Defleet_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThisAndNextMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.defleetReadyCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Status_to_Transport</targetReference>
            </connector>
            <label>Yes1</label>
        </rules>
    </decisions>
    <formulas>
        <name>NotNull</name>
        <dataType>DateTime</dataType>
        <expression> DATETIMEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThisAndNextMonth</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <interviewLabel>Defleet Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Defleet Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Move_to_Deregister_in_SKAT</name>
        <label>Move to Deregister in SKAT</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Ready_for_Send_Documents_Keys_to_buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Defleet_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deregister in SKAT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_to_Redying</name>
        <label>Status to Redying</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Ready_for_Transport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Defleet_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redying</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_status__c</field>
            <value>
                <stringValue>Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_to_Transport</name>
        <label>Status to Transport</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Ready_for_Order_Damagecheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supplier_ready_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Station__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_status__c</field>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Defleet_in_COBRA</name>
        <label>Update to Defleet in COBRA</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Ready_for_Deregister_in_SKAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Defleet_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Defleet in COBRA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_status__c</field>
            <value>
                <stringValue>Infleeted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Invoice_Advis</name>
        <label>Update to Invoice/Advis</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Ready_for_Defleet_in_COBRA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Defleet_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice/Advis</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_status__c</field>
            <value>
                <stringValue>Registration</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Order_Damagecheck</name>
        <label>Update to Order Damagecheck</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Ready_for_Invoice_Advis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Defleet_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Damagecheck</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_status__c</field>
            <value>
                <stringValue>IRK and Leasing Code</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Send_Documents_Keys_to_buyer</name>
        <label>Update to Send Documents &amp; Keys to buyer</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>Defleet_Status__c</field>
            <value>
                <stringValue>Send Documents &amp; Keys to buyer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ready_for_Redying</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Defleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>defleetReadyCheck__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defleet_Transport_Booked__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Damagecheck_request_email_sent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_DAL_damage_check_required__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deregistered_in_SKAT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vehicle_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00-</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expected_Defleet_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
