force-app/main/default/flows/Email_for_transport_of_new_cars_Normal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_for_transport_of_new_cars_Normal</name>
        <label>Email for transport of new cars (Normal)</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailForTransportOfNewCar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>irinka1369@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_columns_to_table_markup</name>
        <label>Add columns to table markup</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_table_row_to_table_markup</name>
        <label>add table row to table markup</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_table_markup</name>
        <label>Close table markup</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_for_transport_of_new_cars_Normal</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>tableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Vin_Number__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Brand__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_pickup_location__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!$Record.Delivery_address2__c} +
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_dealer__c} +
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; +                                                                      
&apos;&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Email for transport of new cars (Normal) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email for transport of new cars (Normal)</label>
    <loops>
        <name>Loop_through_cars</name>
        <label>Loop through cars</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Allrelatedcars</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_table_row_to_table_markup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_table_markup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_record</name>
        <label>Create Email record</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Activity_Items</name>
        <label>Get all Activity Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_columns_to_table_markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Activity_Item__c</object>
        <outputReference>Allrelatedcars</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vehicle_Vin_Number__c</queriedFields>
        <queriedFields>Vehicle_pickup_location__c</queriedFields>
        <queriedFields>Delivery_address__c</queriedFields>
        <queriedFields>Vehicle_dealer__c</queriedFields>
        <queriedFields>Vehicle_Brand__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Activity_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_for_new_car_transport__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!emailForTransportOfNewCar}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailForTransportOfNewCar</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hej {!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Vi vil gerne bestille transport på følgende biler, som skal afhentes hos {!$Record.Account.Name}. &lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;@forhandler vil i venligst frigive disse biler?&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Transporten betales af forhandleren. Dog skal eventuel dag-til-dag tillæg betales af Sixt.&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Venlig hilsen&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!table}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Allrelatedcars</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Item__c</objectType>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Email for transport of new cars (Normal) </stringValue>
        </value>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;table style =&quot;width:100%; border: 1px solid black;&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Stelnummer &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Mærke &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Afhentningsadresse &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Leveringsadresse &lt;/th&gt; &lt;th style=&quot;border: 1px solid black;&quot;&gt; Forhandler &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
