force-app/main/default/flows/Email_to_check_Expected_delivery_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_dealer</name>
        <label>Email to dealer</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailRequiredByDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.accountEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>bilindkoeb@sixt.dk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_columns_to_table_markup</name>
        <label>Add columns to table markup</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_table_row_to_table_markup</name>
        <label>add table row to table markup</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_table_markup</name>
        <label>Close table markup</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_to_dealer</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>tableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Batch__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Vin_Number__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Brand__c} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_through_cars.Vehicle_Model__c} +
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Loop_through_cars.Vehicle_Required_by_date__c}) +                                                                  
&apos;&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Email to check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to check Expected delivery date</label>
    <loops>
        <name>Loop_through_cars</name>
        <label>Loop through cars</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Allrelatedcars</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_table_row_to_table_markup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_table_markup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>emailRequiredByDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Activity_Items</name>
        <label>Get all Activity Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_columns_to_table_markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Activity_Item__c</object>
        <outputReference>Allrelatedcars</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vehicle_Batch__c</queriedFields>
        <queriedFields>Vehicle_Vin_Number__c</queriedFields>
        <queriedFields>Vehicle_Brand__c</queriedFields>
        <queriedFields>Vehicle_Model__c</queriedFields>
        <queriedFields>Vehicle_Required_by_date__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Activity_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_about_Expected_delivery_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailRequiredByDate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Hej {!$Record.Account.Name},&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Endnu engang tak for handlen. Vi ser fortsat frem til at samarbejde om denne batch af biler. Batchen er #202X-YXX#.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Vi ønsker følgende biler #stelnumre&quot; klargjort til endelig levering fra #dato#.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Venlig hilsenю&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;{!table}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;{!$User.Signature}&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Allrelatedcars</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Item__c</objectType>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Follow up on Expected delivery date</stringValue>
        </value>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;table style =&quot;width:100%; border: 1px solid black;&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;tr&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Batchnummer &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Stelnummer &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Bilmodel &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Afhentning &lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt; Dato for ønsket levering &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
