force-app/main/default/flows/FLEETFORECAST_TRG_BeforeInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Year_and_Month_not_blank</name>
        <label>Is Year and Month not blank?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Year_and_Mont_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Month__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_and_Last_Day</targetReference>
            </connector>
            <label>Year and Mont populated</label>
        </rules>
    </decisions>
    <description>actions on Fleet Forecast record before save</description>
    <formulas>
        <name>FirstDayCalculated</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(TEXT({!$Record.Year__c})),VALUE(TEXT({!$Record.Month__c})),1)</expression>
    </formulas>
    <formulas>
        <name>LastDayCalculated</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS ({!FirstDayCalculated}, 1)-1</expression>
    </formulas>
    <interviewLabel>FLEETFORECAST_TRG_BeforeInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLEETFORECAST_TRG_BeforeInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>automatically populate Fist Day and Last Day from Year and Month</description>
        <name>Set_First_and_Last_Day</name>
        <label>Set First and Last Day</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>First_Day__c</field>
            <value>
                <elementReference>FirstDayCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Day__c</field>
            <value>
                <elementReference>LastDayCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Year_and_Month_not_blank</targetReference>
        </connector>
        <object>Fleet_Forecast__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
