force-app/main/default/flows/OPPORTUNITY_TRG_After_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_single_record</name>
        <label>Set single record</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Set_opportunity_for_all_vehicles.Re_marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_opportunity_for_all_vehicles.Buyer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_opportunity_for_all_vehicles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_for_all_vehicles</targetReference>
        </connector>
    </assignments>
    <description>actions after opportunity is Won</description>
    <interviewLabel>OPPORTUNITY_TRG_After_Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY_TRG_After_Won</label>
    <loops>
        <name>Set_opportunity_for_all_vehicles</name>
        <label>Set opportunity for all vehicles</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_vehicles_from_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_single_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Vehicles_with_Opportunity_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_vehicles_from_opportunity</name>
        <label>Get vehicles from opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_opportunity_for_all_vehicles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicles_with_Opportunity_Id</name>
        <label>Update Vehicles with Opportunity Id</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>CollectionUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_vehicles_from_opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
