force-app/main/default/flows/OPPORTUNITY_VEHICLE_RollUps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Count_of_Vehicles</name>
        <label>Set Count of Vehicles</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varCountOfVehicles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_All_Vehicles_for_the_same_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculate_SUMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_Max_of_Holding_Period</name>
        <label>set new Max of Holding Period</label>
        <locationX>264</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varMaxOfHoldingPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculate_SUMs.Leasing_Period__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculate_SUMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_Max_of_Max_KM</name>
        <label>set new Max of Max KM</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varMaxOfMaxKM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculate_SUMs.Max_KM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Min_KM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_Max_of_Min_KM</name>
        <label>set new Max of Min KM</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varMaxOfMinKM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculate_SUMs.Min_KM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holding_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Confirmed_Remarketing_Price_Converted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRemainingKM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Remaining_KM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRemainingDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Remaining_period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalConfirmedPriceDKK</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Confirmed_Remarketing_Price_DKK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalConfirmedPriceFullTaxDKK</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Confirmed_Remarketing_Price_Full_Tax_DKK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalConfirmedPriceEUR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Confirmed_Remarketing_Price_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_KM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>maximal value of vehicles Holding Period</description>
        <name>Holding_Period</name>
        <label>Holding Period</label>
        <locationX>396</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>calculate_SUMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_maximum_holding_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calculate_SUMs.Leasing_Period__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxOfHoldingPeriod</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_Max_of_Holding_Period</targetReference>
            </connector>
            <label>new maximum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_KM</name>
        <label>Max KM</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Min_KM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_maximum_Max_KM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calculate_SUMs.Max_KM__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxOfMaxKM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_Max_of_Max_KM</targetReference>
            </connector>
            <label>new maximum</label>
        </rules>
    </decisions>
    <decisions>
        <description>we need to find maximal value of required Min KM</description>
        <name>Min_KM</name>
        <label>Min KM</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Holding_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_maximum_Min_KM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calculate_SUMs.Min_KM__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxOfMinKM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_Max_of_Min_KM</targetReference>
            </connector>
            <label>new maximum</label>
        </rules>
    </decisions>
    <description>calculate roll-ups from related Vehicles on an Opportunity
- total count of vehicles
- sum of price (DKK, EUR, Full Tax DKK, and converted) 
- max of Max KM
- max of Min KM
- max of Holding Period</description>
    <interviewLabel>OPPORTUNITY_VEHICLE_RollUps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY_VEHICLE_RollUps</label>
    <loops>
        <name>calculate_SUMs</name>
        <label>calculate SUMs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Select_All_Vehicles_for_the_same_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Rollups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Select_All_Vehicles_for_the_same_Opportunity</name>
        <label>Select All Vehicles for the same Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Vehicles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Rollups</name>
        <label>Update Opportunity Rollups</label>
        <locationX>176</locationX>
        <locationY>1742</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holding_Period_Length__c</field>
            <value>
                <elementReference>varMaxOfHoldingPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_KM__c</field>
            <value>
                <elementReference>varMaxOfMaxKM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_KM__c</field>
            <value>
                <elementReference>varMaxOfMinKM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <elementReference>varCountOfVehicles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Remarketing_Price_DKK__c</field>
            <value>
                <elementReference>varTotalConfirmedPriceDKK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Remarketing_Price_EUR__c</field>
            <value>
                <elementReference>varTotalConfirmedPriceEUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Remarketing_Price_Full_Tax_DKK__c</field>
            <value>
                <elementReference>varTotalConfirmedPriceFullTaxDKK</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_All_Vehicles_for_the_same_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountOfVehicles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>maximal value of Holding Period of vehicles</description>
        <name>varMaxOfHoldingPeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>maximal value of vehicles Max KM</description>
        <name>varMaxOfMaxKM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>maximal value of Min KM on vehicles</description>
        <name>varMaxOfMinKM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>sum of Confirmed Remarketing Price (DKK)</description>
        <name>varTotalConfirmedPriceDKK</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>sum of Confirmed Remarketing Price (EUR)</description>
        <name>varTotalConfirmedPriceEUR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>sum of Confirmed Remarketing Price Full Tax DKK</description>
        <name>varTotalConfirmedPriceFullTaxDKK</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalRemainingDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalRemainingKM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
