force-app/main/default/flows/Re_calculate_Vehicle_Calculators_for_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_cloned_record_to_the_list</name>
        <label>Add cloned record to the list</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>listNewCalculators</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleClonedVehicleCalculator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Calculators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_and_add_to_list_for_Update</name>
        <label>Change Status and add to list for Update</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Cloned_Calculators_Status_to_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listVehicleCalculatorToSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleClonedVehicleCalculator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Cloned_Calculators_Status_to_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_cloned_record</name>
        <label>Create cloned record</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Calculators.Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Vehicle_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Calculators.Vehicle_Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Remarketing_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Calculators.Remarketing_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Reimbursement_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Calculators.Reimbursement_percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleClonedVehicleCalculator.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Calculators.Vehicle__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cloned_record_to_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AFTER_count</name>
        <label>Set AFTER count</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>varCountVehicleCalcsPost</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listVehicleCalculatorToSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BEFORE_count</name>
        <label>Set BEFORE count</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCountVehicleCalcsPre</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Selected_Vehicle_Calculators_for_the_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Screen</targetReference>
        </connector>
    </assignments>
    <description>clone and recalculate all currently selected vehicle calculators for all vehicles in the vehicle batch</description>
    <environments>Default</environments>
    <formulas>
        <name>batchName</name>
        <dataType>String</dataType>
        <expression>{!Get_Batch_Name.Name}</expression>
    </formulas>
    <interviewLabel>Re-calculate Vehicle Calculators for Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-calculate Vehicle Calculators for Batch</label>
    <loops>
        <description>we need to insert calculators first in status Draft so L94 tax calculation is triggered, but then we need to change the status to Selected</description>
        <name>Change_Cloned_Calculators_Status_to_Selected</name>
        <label>Change Cloned Calculators Status to Selected</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <collectionReference>listNewCalculators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status_and_add_to_list_for_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_cloned_Vehicle_Calculators_to_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Clone_Calculators</name>
        <label>Clone Calculators</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Selected_Vehicle_Calculators_for_the_Batch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_cloned_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Cloned_Vehicle_Calculators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Cloned_Vehicle_Calculators</name>
        <label>Insert Cloned Vehicle Calculators</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Change_Cloned_Calculators_Status_to_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>listNewCalculators</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Batch_Name</name>
        <label>Get Batch Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Vehicle_Calculators_for_the_Batch</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vehicleBatch__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Vehicle_Calculators_for_the_Batch</name>
        <label>Get Selected Vehicle Calculators for the Batch</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BEFORE_count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>batchName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Calculator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_cloned_Vehicle_Calculators_to_Selected</name>
        <label>Update cloned Vehicle Calculators to Selected</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Set_AFTER_count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>listVehicleCalculatorToSelected</inputReference>
    </recordUpdates>
    <screens>
        <name>Close_Screen</name>
        <label>Close Screen</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;{!varCountVehicleCalcsPost} vehicle calculators updated successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>704</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Something went wrong!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Init_Screen</name>
        <label>Init Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_Calculators</targetReference>
        </connector>
        <fields>
            <name>Calculators_Count_Text</name>
            <fieldText>&lt;p&gt;Do you want to re-calculate  {!varCountVehicleCalcsPre} vehicle calculators?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Batch_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listNewCalculators</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Calculator__c</objectType>
    </variables>
    <variables>
        <name>listVehicleCalculatorToSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle_Calculator__c</objectType>
    </variables>
    <variables>
        <description>batch record id passed automatically from UI</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>count of vehicle calculators AFTER the changes</description>
        <name>varCountVehicleCalcsPost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>count of selected vehicle calculators BEFORE changes</description>
        <name>varCountVehicleCalcsPre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSingleClonedVehicleCalculator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Calculator__c</objectType>
    </variables>
</Flow>
