force-app/main/default/flows/SCR_Defleet_Send_Invoice_to_Buyer_LIGHTNING.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Advis</name>
        <label>Create Advis</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <actionName>NAVCarsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Integration_Message_Advis</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addToDoc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>currentConfirmedPriceValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callMethod</name>
            <value>
                <stringValue>UPDATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberQuote</name>
            <value>
                <elementReference>Call_Navision_One_by_One.Buyer_Account__r.Navision_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vinNumber</name>
            <value>
                <elementReference>Call_Navision_One_by_One.vinNumber__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Invoice</name>
        <label>Send Invoice</label>
        <locationX>1546</locationX>
        <locationY>1430</locationY>
        <actionName>NAVCarsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Integration_Message_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addToDoc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>currentConfirmedPriceValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callMethod</name>
            <value>
                <stringValue>UPDATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberInvoice</name>
            <value>
                <elementReference>Call_Navision_One_by_One.Buyer_Account__r.Navision_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vinNumber</name>
            <value>
                <elementReference>Call_Navision_One_by_One.vinNumber__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Error_Currency_Does_Not_Match</name>
        <label>Add Error Currency Does Not Match</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varParamsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVINsWithError</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Create_Selected_Vehicles_Text.vinNumber__c} - {!varValidationErrorText}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Selected_Vehicles_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Log_Integration_Message_Advis</name>
        <label>Log Integration Message Advis</label>
        <locationX>1018</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varIRLogRecord.API_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV-createInvoiceQuote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Navision_One_by_One.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Last_Processing_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;createQuote&quot;:&quot;{!Call_Navision_One_by_One.Buyer_Account__r.Navision_Account__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;createUnitPrice&quot;:{!currentConfirmedPriceValue}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Integration_Request_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Log_Integration_Message_Invoice</name>
        <label>Log Integration Message Invoice</label>
        <locationX>1546</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varIRLogRecord.API_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV-createInvoiceQuote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Navision_One_by_One.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Last_Processing_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;createInvoice&quot;:&quot;{!Call_Navision_One_by_One.Buyer_Account__r.Navision_Account__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;createUnitPrice&quot;:{!currentConfirmedPriceValue}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIRLogRecord.Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Integration_Request_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Log_Integration_Request_List</name>
        <label>Log Integration Request List</label>
        <locationX>1282</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>varIRLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIRLogRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Success_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_amount_is_missing</name>
        <label>Set Validation Error - amount is missing</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varValidationErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>confirmed remarketing price is missing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Currency_Does_Not_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_Buyer_Navision_Number_is_missing</name>
        <label>Set Validation Error - Buyer Navision Number is missing</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varValidationErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer&apos;s Navision number is missing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Currency_Does_Not_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_mismatch_currencies</name>
        <label>Set Validation Error - mismatch currencies</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varValidationErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>currency does not match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Currency_Does_Not_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_VIN_is_missing</name>
        <label>Set Validation Error - VIN is missing</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varValidationErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VIN is missing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Currency_Does_Not_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Success_Count</name>
        <label>Update Success Count and Collection</label>
        <locationX>1282</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varCountOfSucces</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Navision_One_by_One.Invoice_Advis_requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionVehicles2Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Call_Navision_One_by_One</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Navision_One_by_One</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_parameters_are_missing</name>
        <label>Any parameters are missing?</label>
        <locationX>490</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>ConfirmationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, continue to API calls</defaultConnectorLabel>
        <rules>
            <name>yes_end_the_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParamsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreenParamsMissing</targetReference>
            </connector>
            <label>yes, end the flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_parameter_is_missing</name>
        <label>Check if any parameter is missing</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Selected_Vehicles_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>all populated</defaultConnectorLabel>
        <rules>
            <name>validation_currency_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Selected_Vehicles_Text.Buyer_Currency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>currentConfirmedPriceCurrency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_mismatch_currencies</targetReference>
            </connector>
            <label>missmatch currency</label>
        </rules>
        <rules>
            <name>VIN_is_missing_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Selected_Vehicles_Text.vinNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_VIN_is_missing</targetReference>
            </connector>
            <label>VIN is missing</label>
        </rules>
        <rules>
            <name>Buyer_NAV_is_missing_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Selected_Vehicles_Text.Buyer_Navision_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_Buyer_Navision_Number_is_missing</targetReference>
            </connector>
            <label>Buyer NAV # is missing</label>
        </rules>
        <rules>
            <name>Invoice_Price_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Selected_Vehicles_Text.Confirmed_Remarketing_Price_Converted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_amount_is_missing</targetReference>
            </connector>
            <label>Invoice Price is missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_or_Advis</name>
        <label>Invoice or Advis?</label>
        <locationX>1282</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Send_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice</defaultConnectorLabel>
        <rules>
            <name>Advis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Navision_One_by_One.Buyer_Account__r.Invoice_or_advis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Advis</targetReference>
            </connector>
            <label>Advis</label>
        </rules>
    </decisions>
    <description>Send invoice or Quote/Advis to Navision with Buyer Accout
Lightning version</description>
    <environments>Default</environments>
    <formulas>
        <name>currentConfirmedPriceCurrency</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_Selected_Vehicles_Text.Confirmed_Remarketing_Price_EUR__c}), &apos;DKK&apos;, &apos;EUR&apos;)</expression>
    </formulas>
    <formulas>
        <name>currentConfirmedPriceValue</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Call_Navision_One_by_One.Confirmed_Remarketing_Price_DKK__c},
BLANKVALUE({!Call_Navision_One_by_One.Confirmed_Remarketing_Price_Full_Tax_DKK__c},
{!Call_Navision_One_by_One.Confirmed_Remarketing_Price_EUR__c})
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SCR Defleet Send Invoice to Buyer LIGHTNING {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR Defleet Send Invoice to Buyer LIGHTNING</label>
    <loops>
        <name>Call_Navision_One_by_One</name>
        <label>Call Navision One-by-One</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Vehicles_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Invoice_or_Advis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Requested_flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Selected_Vehicles_Text</name>
        <label>Create Selected Vehicles Text</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Vehicles_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_any_parameter_is_missing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_parameters_are_missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Log_Integration_Request_Successes_1</name>
        <label>Log Integration Request Successes</label>
        <locationX>1810</locationX>
        <locationY>1790</locationY>
        <inputReference>varIRLogList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Log_Integration_Request_Successes_2</name>
        <label>Log Integration Request Successes</label>
        <locationX>930</locationX>
        <locationY>2726</locationY>
        <inputReference>varIRLogList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Vehicles_Information</name>
        <label>Get Vehicles Information</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Selected_Vehicles_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <sortField>Buyer_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Requested_flag</name>
        <label>Update Invoice Requested flag</label>
        <locationX>930</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_in_Vehicles_records_update</targetReference>
        </faultConnector>
        <inputReference>varCollectionVehicles2Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update vehicles for which was invoice successfully created in NAV</description>
        <name>Update_Invoice_Requested_flag_partly</name>
        <label>Update Invoice Requested flag - partly</label>
        <locationX>1810</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Log_Integration_Request_Successes_1</targetReference>
        </connector>
        <inputReference>varCollectionVehicles2Update</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation</label>
        <locationX>930</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Navision_One_by_One</targetReference>
        </connector>
        <fields>
            <name>selectedVehiclesDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vehicles_Information</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Buyer_Name__c&quot;,&quot;guid&quot;:&quot;column-a1f2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Buyer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Buyer_Navision_Account_Number__c&quot;,&quot;guid&quot;:&quot;column-b695&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Buyer Navision Account Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Buyer_Currency__c&quot;,&quot;guid&quot;:&quot;column-0b55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Buyer Currency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Invoice_or_advis__c&quot;,&quot;guid&quot;:&quot;column-7c4a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice or advis&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;vinNumber__c&quot;,&quot;guid&quot;:&quot;column-5398&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;VIN Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Buyer_Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-db6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Buyer Invoice Amount&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_in_Vehicles_records_update</name>
        <label>Error in Vehicles records update</label>
        <locationX>1410</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Integration_Request_Successes_2</targetReference>
        </connector>
        <fields>
            <name>ErrorSFDCScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Invoices/Advis have been successfully created in Navision for {!varCountOfSucces} vehicles, but update of Vehicles failed in Xfleet! Flag &quot;Invoice/Advis Requested&quot; has not been set!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1810</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Invoice_Requested_flag_partly</targetReference>
        </connector>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;Error in integration for vehicle {!Call_Navision_One_by_One.vinNumber__c}:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice has been successfully create for {!varCountOfSucces} vehicles.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenParamsMissing</name>
        <label>ErrorScreenParamsMissing</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingParamsErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Some data are missing, please check the table below, fix the data on vehicles and re-start the process!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;({!varVINsWithError})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vehiclesDataTableWithError</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vehicles_Information</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Buyer_Name__c&quot;,&quot;guid&quot;:&quot;column-a7e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Buyer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Buyer_Navision_Account_Number__c&quot;,&quot;guid&quot;:&quot;column-7aca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Buyer Navision Account Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Buyer_Currency__c&quot;,&quot;guid&quot;:&quot;column-d01f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Buyer Currency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Invoice_or_advis__c&quot;,&quot;guid&quot;:&quot;column-5011&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice or advis&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;vinNumber__c&quot;,&quot;guid&quot;:&quot;column-2dbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;VIN Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Buyer_Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-d30b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Buyer Invoice Amount&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>930</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_Integration_Request_Successes_2</targetReference>
        </connector>
        <fields>
            <name>SuccesScreenText</name>
            <fieldText>&lt;p&gt;Invoices or Advis have been successfully requested in Navision for {!varCountOfSucces} vehicles and Invoice/Advis Requested flag successfully set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicles_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>selected vehicles ids</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionVehicles2Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>varCountOfSucces</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varIRLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Request__c</objectType>
    </variables>
    <variables>
        <name>varIRLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Request__c</objectType>
    </variables>
    <variables>
        <name>varParamsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varValidationErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVINsWithError</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
