force-app/main/default/flows/SCR_NAV_Utility_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>call_NAV_API</name>
        <label>call NAV API</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <actionName>NAVCarsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callMethod</name>
            <value>
                <elementReference>Operation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>extDocNo</name>
            <value>
                <elementReference>External_Document_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberInvoice</name>
            <value>
                <elementReference>Invoice_Account_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberQuote</name>
            <value>
                <elementReference>Advi_Account_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>Query_Filter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationNumber</name>
            <value>
                <elementReference>Get_Vehicle.License_Plate_System__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vatType</name>
            <value>
                <elementReference>Get_Vehicle.Batch_Distribution__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vinNumber</name>
            <value>
                <elementReference>Get_Vehicle.vinNumber__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Invoice_Request</name>
        <label>Send Invoice Request</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>NAVCarsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addToDoc</name>
            <value>
                <elementReference>Add_to_existing_document</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callMethod</name>
            <value>
                <elementReference>operationUPDATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>extDocNo</name>
            <value>
                <elementReference>External_Document_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberInvoice</name>
            <value>
                <elementReference>Invoice_Account_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accNumberQuote</name>
            <value>
                <elementReference>Advi_Account_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vinNumber</name>
            <value>
                <elementReference>Get_Vehicle.vinNumber__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>operationCREATE</name>
        <choiceText>CREATE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CREATE</stringValue>
        </value>
    </choices>
    <choices>
        <name>operationGET</name>
        <choiceText>GET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GET</stringValue>
        </value>
    </choices>
    <choices>
        <name>operationMarkForLicensePlateInvoice</name>
        <choiceText>&quot;Mark for License Plate Invoice&quot;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>operationUPDATE</name>
        <choiceText>UPDATE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPDATE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Invoice_Request</name>
        <label>Invoice Request?</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>call_NAV_API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, other car requests</defaultConnectorLabel>
        <rules>
            <name>yes_send_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_it_Invoice_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice_Request</targetReference>
            </connector>
            <label>yes, send invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Split</name>
        <label>Operation Split</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Invoice_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API call</defaultConnectorLabel>
        <rules>
            <name>Mark_vehicle_for_License_Plate_Invoicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>operationMarkForLicensePlateInvoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vehicle_as_ready_for_License_Plate_Invoice</targetReference>
            </connector>
            <label>Mark vehicle for License Plate Invoicing</label>
        </rules>
    </decisions>
    <description>for testing / run manually NAV Cars API</description>
    <environments>Default</environments>
    <interviewLabel>SCR NAV Utility Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR NAV Utility Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_do_you_want_to_call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Vehicle_as_ready_for_License_Plate_Invoice</name>
        <label>Set Vehicle as ready for License Plate Invoice</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Plate_Invoice_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Plate_Is_Not_Invoiced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;Error in integration:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Invoice</name>
        <label>Result Invoice</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResultsInvoice</name>
            <fieldText>&lt;p&gt;{!Send_Invoice_Request}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResponseBody</name>
            <fieldText>&lt;p&gt;{!call_NAV_API.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_do_you_want_to_call</name>
        <label>What do you want to call?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Operation_Split</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Vehicle.vinNumber__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Vehicle.License_plate__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Vehicle.Batch_Distribution__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Vehicle.The_car_is_paid__c</objectFieldReference>
        </fields>
        <fields>
            <name>What_do_you_want_to_call_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>What_do_you_want_to_call_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Operation</name>
                    <choiceReferences>operationCREATE</choiceReferences>
                    <choiceReferences>operationUPDATE</choiceReferences>
                    <choiceReferences>operationGET</choiceReferences>
                    <choiceReferences>operationMarkForLicensePlateInvoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Operation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_it_Invoice_Request</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is it Invoice Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Operation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>operationUPDATE</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Query_Filter</name>
                    <dataType>String</dataType>
                    <fieldText>Query Filter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Operation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>operationGET</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoice_Advi_parameters</name>
            <fieldText>Invoice/Advi parameters</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Advi_parameters_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Advi_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Advi Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Add_to_existing_document</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Add to existing document</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invoice_Advi_parameters_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>External_Document_Number</name>
                    <dataType>String</dataType>
                    <fieldText>External Document Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_it_Invoice_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>vehicle id that the flow was run from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
