force-app/main/default/flows/Update_Recalculation_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>check if Sample Vehicle has changed</description>
        <name>Has_Sample_Vehicle_changed</name>
        <label>Has Sample Vehicle changed?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_sample_vehicle_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sample_Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sample_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VIN_number</targetReference>
            </connector>
            <label>yes, sample vehicle changed</label>
        </rules>
    </decisions>
    <description>- updates recalculation group when Sample Vehicle is changed</description>
    <interviewLabel>Update Recalculation Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Recalculation Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>update VIN number on the Recalculation Group from new Sample Vehicle</description>
        <name>Update_VIN_number</name>
        <label>Update VIN number</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>VIN__c</field>
            <value>
                <elementReference>$Record.Sample_Vehicle__r.vinNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Sample_Vehicle_changed</targetReference>
        </connector>
        <object>Recalculation_Group__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
