force-app/main/default/flows/Update_Vehicle_fields_Automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Infleet_transportation_booked_date_changed</name>
        <label>Infleet transportation booked date changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Infleet_transportation_booked_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planned_Infleet_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Planned_Infleet_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_HQ_updated</name>
        <label>Is Key received at HQ updated?</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_HQ__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_received_at_HQ_timestamp</targetReference>
            </connector>
            <label>Yes3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_station_updated</name>
        <label>Is Key received at station updated?</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_station__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_key_received_at_station_timestamp</targetReference>
            </connector>
            <label>Yes4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_sent_to_buyer_updated</name>
        <label>Is Key sent to buyer updated ?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_sent_to_buyer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_sent_to_buyer_timestamp</targetReference>
            </connector>
            <label>Yes5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Licence_plate_updated</name>
        <label>Is Licence plate updated</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_plate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Infleet_day</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <description>Automatically update Vehicle fields : 
License_plate__c
Key_received_at_HQ__c
Key_received_at_station__c
Key_sent_to_buyer__c
Planned_Infleet_Date__c</description>
    <formulas>
        <name>FormulaforPlannedinfleetday</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Infleet_transportation_booked_date__c} + 2</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Vehicle fields Automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle fields Automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Actual_Infleet_day</name>
        <label>Update Actual Infleet day</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Infleet_Day__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_received_at_HQ_timestamp</name>
        <label>Update Key received at HQ timestamp</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_HQ_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_key_received_at_station_timestamp</name>
        <label>Update key received at station timestamp</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_station_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_sent_to_buyer_timestamp</name>
        <label>Update Key sent to buyer timestamp</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <inputAssignments>
            <field>Key_sent_to_buyer_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planned_Infleet_Day</name>
        <label>Update Planned Infleet Day</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Planned_Infleet_Date__c</field>
            <value>
                <elementReference>FormulaforPlannedinfleetday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Infleet_transportation_booked_date_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Infleet_transportation_booked_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>License_plate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_HQ__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_station__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_sent_to_buyer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
