force-app/main/default/flows/Update_Vehicle_fields_Automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Defleet_damage_check_completed_updated</name>
        <label>Is Defleet damage check completed updated?</label>
        <locationX>380</locationX>
        <locationY>4007</locationY>
        <defaultConnector>
            <targetReference>Is_Defleet_Transport_Booked_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Defleet_damage_check_completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Defleet_damage_check_user_and_time_stamp</targetReference>
            </connector>
            <label>Yes12</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Defleet_Transport_Booked_changed</name>
        <label>Is Defleet Transport Booked changed ?</label>
        <locationX>380</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Is_Deregistered_in_SKAT_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Defleet_Transport_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Defleet_Transport_Booked_timestamp</targetReference>
            </connector>
            <label>Yes13</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deregistered_in_SKAT_changed</name>
        <label>Is Deregistered in SKAT changed?</label>
        <locationX>380</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Is_Retail_Price_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deregistered_in_SKAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deregistered_in_SKAT_timestamp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes14</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_empty_Return_Station</name>
        <label>Is empty Return Station?</label>
        <locationX>182</locationX>
        <locationY>6143</locationY>
        <defaultConnector>
            <targetReference>Query_Station_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return Station populated</defaultConnectorLabel>
        <rules>
            <name>empty_return_station</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Return_station__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Return_Station_lookup</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Infleet_Damage_check_completed_checked</name>
        <label>Is Infleet Damage check completed checked ?</label>
        <locationX>380</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Is_Defleet_damage_check_completed_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Infleet_Damage_check_completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Infleet_damage_check_completed_date_and_user_stampp</targetReference>
            </connector>
            <label>Yes11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_number_changed</name>
        <label>Is Internal number changed ?</label>
        <locationX>380</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Is_Registration_document_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Internal_number_timestamp</targetReference>
            </connector>
            <label>Yes6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Minilease_vehicle</name>
        <label>Is it Minilease vehicle?</label>
        <locationX>380</locationX>
        <locationY>5687</locationY>
        <defaultConnector>
            <targetReference>Is_Return_Station_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_Minilease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mini-lease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Minilease_status_to_New</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>yes, Minilease</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_HQ_updated</name>
        <label>Is Key received at HQ updated?</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_HQ__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_received_at_HQ_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_station_updated</name>
        <label>Is Key received at station updated?</label>
        <locationX>380</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_station__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_key_received_at_station_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_sent_to_buyer_updated</name>
        <label>Is Key sent to buyer updated ?</label>
        <locationX>380</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Is_Internal_number_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_sent_to_buyer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_sent_to_buyer_timestamp</targetReference>
            </connector>
            <label>Yes5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Licence_plate_updated</name>
        <label>Is Licence plate updated</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_plate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Infleet_day</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registration_document_updated</name>
        <label>Is Registration document updated ?</label>
        <locationX>380</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_paid_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_document__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_registration_document_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Retail_Price_changed</name>
        <label>Is Retail Price changed</label>
        <locationX>380</locationX>
        <locationY>5015</locationY>
        <defaultConnector>
            <targetReference>No_Remaining_period_Timestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_retail_price_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retail_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Retail_Price_Timestamp</targetReference>
            </connector>
            <label>Yes, retail price changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Return_Station_Changed</name>
        <label>Is Return Station Changed?</label>
        <locationX>380</locationX>
        <locationY>6023</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>changed_Return_Station</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Return_station__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_empty_Return_Station</targetReference>
            </connector>
            <label>changed Return Station</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supplier_Ready_Date_changed</name>
        <label>Is Supplier Ready Date changed?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_supplier_ready_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_ready_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplier_ready_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>default_Deadline_for_Registration_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_paid_updated</name>
        <label>Is the car is paid updated ?</label>
        <locationX>380</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_released_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_paid__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_paid_user_and_time_stamp</targetReference>
            </connector>
            <label>Yes8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_picked_up_updated</name>
        <label>Is the car is picked up updated ?</label>
        <locationX>380</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>Is_Infleet_Damage_check_completed_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_picked_up__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_picked_up_date_and_user_stamp</targetReference>
            </connector>
            <label>Yes10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_released_updated</name>
        <label>Is the car is released updated ?</label>
        <locationX>380</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_picked_up_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_released__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_released_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes9</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Remaining_period_Timestamp</name>
        <label>Is the remaining period 0?</label>
        <locationX>380</locationX>
        <locationY>5351</locationY>
        <defaultConnector>
            <targetReference>Is_it_Minilease_vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_remaining_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Remaining_period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expected_defleet_timestamp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Remaining period is zero</label>
        </rules>
    </decisions>
    <description>Automatically update Vehicle fields : 
Return_Station__c
Use_Type__c
Retail_Price_Timestamp__c
Deregistered_in_SKAT_timestamp__c
Deadline_for_Registration_Date__c
License_plate__c
Key_received_at_HQ__c
Key_received_at_station__c
Key_sent_to_buyer__c
Internal_number_timestamp__c
Expected_defleet_timestamp__c</description>
    <formulas>
        <description>calculate as Supplier Ready Date + 4 weeks (28 days)</description>
        <name>FormulaDeadlineForRegistration</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Supplier_ready_Date__c} + 28</expression>
    </formulas>
    <formulas>
        <description>convert text representation of Return Station id from COBRA to number so it could be used in query</description>
        <name>ReturnStationInternalNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Return_station__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>userStamp</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName} +&apos; &apos;+ {!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Update Vehicle fields Automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle fields Automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get Station account with the Return Station internal number</description>
        <name>Query_Station_Account</name>
        <label>Query Station Account</label>
        <locationX>314</locationX>
        <locationY>6263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Return_Station_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Station_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnStationInternalNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Return_Station_lookup</name>
        <label>Clear Return Station lookup</label>
        <locationX>50</locationX>
        <locationY>6263</locationY>
        <inputAssignments>
            <field>Return_Station_Account__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>only in Deadline for Registration is not already populated, set it to Supplier ready date + 4 weeks</description>
        <name>default_Deadline_for_Registration_field</name>
        <label>default Deadline for Registration field</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deadline_for_Registration_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Deadline_for_Registration_Date__c</field>
            <value>
                <elementReference>FormulaDeadlineForRegistration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>only if not set previously</description>
        <name>Set_Minilease_status_to_New</name>
        <label>Set Minilease status to New</label>
        <locationX>248</locationX>
        <locationY>5807</locationY>
        <connector>
            <targetReference>Is_Return_Station_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minilease_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Minilease_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>set Return Station Account lookup based on queried return station</description>
        <name>Set_Return_Station_lookup</name>
        <label>Set Return Station lookup</label>
        <locationX>314</locationX>
        <locationY>6383</locationY>
        <inputAssignments>
            <field>Return_Station_Account__c</field>
            <value>
                <elementReference>Query_Station_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Actual_Infleet_day</name>
        <label>Update Actual Infleet day</label>
        <locationX>248</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Infleet_Day__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Defleet_damage_check_user_and_time_stamp</name>
        <label>Update Defleet damage check user and time stamp</label>
        <locationX>248</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Is_Defleet_Transport_Booked_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Damage_checked_date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defleet_damage_checked_by__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Defleet_Transport_Booked_timestamp</name>
        <label>Update Defleet Transport Booked timestamp</label>
        <locationX>248</locationX>
        <locationY>4463</locationY>
        <connector>
            <targetReference>Is_Deregistered_in_SKAT_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Defleet_transportation_booked_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deregistered_in_SKAT_timestamp</name>
        <label>Update Deregistered in SKAT timestamp</label>
        <locationX>248</locationX>
        <locationY>4799</locationY>
        <connector>
            <targetReference>Is_Retail_Price_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Deregistered_in_SKAT_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expected_defleet_timestamp</name>
        <label>Update Expected defleet timestamp</label>
        <locationX>248</locationX>
        <locationY>5471</locationY>
        <connector>
            <targetReference>Is_it_Minilease_vehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_defleet_timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Infleet_damage_check_completed_date_and_user_stampp</name>
        <label>Update Infleet damage check completed date and user stampp</label>
        <locationX>248</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>Is_Defleet_damage_check_completed_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Infleet_Damage_checked_by__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Damage_checked_date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Internal_number_timestamp</name>
        <label>Update Internal number timestamp</label>
        <locationX>248</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Is_Registration_document_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_number_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_received_at_HQ_time_and_user_stamp</name>
        <label>Update Key received at HQ time and user stamp</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_HQ_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_received_at_HQ_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_key_received_at_station_time_and_user_stamp</name>
        <label>Update key received at station time and user stamp</label>
        <locationX>248</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_station_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_received_at_station_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_sent_to_buyer_timestamp</name>
        <label>Update Key sent to buyer time and user stamp</label>
        <locationX>248</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Is_Internal_number_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_sent_to_buyer_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_sent_to_buyer_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_registration_document_time_and_user_stamp</name>
        <label>Update registration document time and user stamp</label>
        <locationX>248</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Is_the_car_is_paid_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Registration_document_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_document_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retail_Price_Timestamp</name>
        <label>Update Retail Price Timestamp</label>
        <locationX>248</locationX>
        <locationY>5135</locationY>
        <connector>
            <targetReference>No_Remaining_period_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>Retail_Price_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_paid_user_and_time_stamp</name>
        <label>Update the car is paid user and time stamp</label>
        <locationX>248</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Is_the_car_is_released_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_paid_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_paid_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_picked_up_date_and_user_stamp</name>
        <label>Update the car is picked up date and user stamp</label>
        <locationX>248</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Is_Infleet_Damage_check_completed_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_picked_up_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_picked_up_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_released_time_and_user_stamp</name>
        <label>Update the car is released time and user stamp</label>
        <locationX>248</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Is_the_car_is_picked_up_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_released_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_released_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Supplier_Ready_Date_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>License_plate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_HQ__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_station__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_sent_to_buyer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Internal_number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_document__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_paid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_released__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_picked_up__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Infleet_Damage_check_completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defleet_damage_check_completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deregistered_in_SKAT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defleet_Transport_Booked__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_ready_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retail_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_period__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Use_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Return_station__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
