force-app/main/default/flows/Update_Vehicle_with_Recalculation_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Vehicle_to_Collection</name>
        <label>Add Vehicle to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VehiclestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vehicles_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicles_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Recalculation_Result</name>
        <label>Assign Last Recalculation Result</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Vehicles_Update.Last_Afgiftspligt_Vaerdi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Afgiftspligt_Vaerdi__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Vehicle_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Vehicle with Recalculation Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle with Recalculation Result</label>
    <loops>
        <name>Vehicles_Update</name>
        <label>Vehicles Update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Vehicles_from_Recalculation_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_Recalculation_Result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Vehicles_with_Recalculation_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Vehicles_from_Recalculation_Group</name>
        <label>Get All Vehicles from Recalculation Group</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicles_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recalculation_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recalculation_Group__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Afgiftspligt_Vaerdi__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicles_with_Recalculation_Result</name>
        <label>Update Vehicles with Recalculation Result</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>VehiclestoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Vehicles_from_Recalculation_Group</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.Afgiftspligt_Vaerdi__c}))</filterFormula>
        <object>Recalculation_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VehiclestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
