force-app/main/default/flows/Update_Vehicle_fields_Automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Infleet_transportation_booked_date_changed</name>
        <label>Infleet transportation booked date changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Infleet_transportation_booked_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planned_Infleet_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Planned_Infleet_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Defleet_damage_check_completed_updated</name>
        <label>Is Defleet damage check completed updated?</label>
        <locationX>182</locationX>
        <locationY>4007</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Defleet_damage_check_completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Defleet_damage_check_user_and_time_stamp</targetReference>
            </connector>
            <label>Yes12</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Infleet_Damage_check_completed_checked</name>
        <label>Is Infleet Damage check completed checked ?</label>
        <locationX>182</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Is_Defleet_damage_check_completed_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Infleet_Damage_check_completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Infleet_damage_check_completed_date_and_user_stampp</targetReference>
            </connector>
            <label>Yes11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_number_changed</name>
        <label>Is Internal number changed ?</label>
        <locationX>182</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Is_Registration_document_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Internal_number_timestamp</targetReference>
            </connector>
            <label>Yes6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_HQ_updated</name>
        <label>Is Key received at HQ updated?</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_HQ__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_received_at_HQ_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_received_at_station_updated</name>
        <label>Is Key received at station updated?</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_received_at_station__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_key_received_at_station_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_sent_to_buyer_updated</name>
        <label>Is Key sent to buyer updated ?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Is_Internal_number_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_sent_to_buyer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_sent_to_buyer_timestamp</targetReference>
            </connector>
            <label>Yes5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Licence_plate_updated</name>
        <label>Is Licence plate updated</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_plate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Infleet_day</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registration_document_updated</name>
        <label>Is Registration document updated ?</label>
        <locationX>182</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_paid_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_document__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_registration_document_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_paid_updated</name>
        <label>Is the car is paid updated ?</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_released_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_paid__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_paid_user_and_time_stamp</targetReference>
            </connector>
            <label>Yes8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_picked_up_updated</name>
        <label>Is the car is picked up updated ?</label>
        <locationX>182</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>Is_Infleet_Damage_check_completed_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_picked_up__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_picked_up_date_and_user_stamp</targetReference>
            </connector>
            <label>Yes10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_car_is_released_updated</name>
        <label>Is the car is released updated ?</label>
        <locationX>182</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Is_the_car_is_picked_up_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_car_is_released__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_car_is_released_time_and_user_stamp</targetReference>
            </connector>
            <label>Yes9</label>
        </rules>
    </decisions>
    <description>Automatically update Vehicle fields : 
License_plate__c
Key_received_at_HQ__c
Key_received_at_station__c
Key_sent_to_buyer__c
Planned_Infleet_Date__c
Internal_number_timestamp__c</description>
    <formulas>
        <name>FormulaforPlannedinfleetday</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Infleet_transportation_booked_date__c} + 2</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>userStamp</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName} +&apos; &apos;+ {!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Update Vehicle fields Automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle fields Automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Actual_Infleet_day</name>
        <label>Update Actual Infleet day</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Is_Key_received_at_HQ_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Infleet_Day__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Defleet_damage_check_user_and_time_stamp</name>
        <label>Update Defleet damage check user and time stamp</label>
        <locationX>50</locationX>
        <locationY>4127</locationY>
        <inputAssignments>
            <field>Damage_checked_date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defleet_damage_checked_by__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Infleet_damage_check_completed_date_and_user_stampp</name>
        <label>Update Infleet damage check completed date and user stampp</label>
        <locationX>50</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>Is_Defleet_damage_check_completed_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Infleet_Damage_checked_by__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Damage_checked_date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Internal_number_timestamp</name>
        <label>Update Internal number timestamp</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Is_Registration_document_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_number_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_received_at_HQ_time_and_user_stamp</name>
        <label>Update Key received at HQ time and user stamp</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Is_Key_received_at_station_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_HQ_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_received_at_HQ_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_key_received_at_station_time_and_user_stamp</name>
        <label>Update key received at station time and user stamp</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Is_Key_sent_to_buyer_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_received_at_station_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_received_at_station_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Key_sent_to_buyer_timestamp</name>
        <label>Update Key sent to buyer time and user stamp</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Is_Internal_number_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_sent_to_buyer_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_sent_to_buyer_timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planned_Infleet_Day</name>
        <label>Update Planned Infleet Day</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Licence_plate_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Planned_Infleet_Date__c</field>
            <value>
                <elementReference>FormulaforPlannedinfleetday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_registration_document_time_and_user_stamp</name>
        <label>Update registration document time and user stamp</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Is_the_car_is_paid_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Registration_document_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_document_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_paid_user_and_time_stamp</name>
        <label>Update the car is paid user and time stamp</label>
        <locationX>50</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Is_the_car_is_released_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_paid_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_paid_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_picked_up_date_and_user_stamp</name>
        <label>Update the car is picked up date and user stamp</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Is_Infleet_Damage_check_completed_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_picked_up_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_picked_up_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_car_is_released_time_and_user_stamp</name>
        <label>Update the car is released time and user stamp</label>
        <locationX>50</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Is_the_car_is_picked_up_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>The_car_is_released_Timestamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_car_is_released_User__c</field>
            <value>
                <elementReference>userStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Infleet_transportation_booked_date_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Infleet_transportation_booked_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>License_plate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_HQ__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_received_at_station__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_sent_to_buyer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Internal_number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_document__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_paid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_released__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>The_car_is_picked_up__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Infleet_Damage_check_completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defleet_damage_check_completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
