force-app/main/default/flows/Vehicle_Update_Sample_Vehicle_for_Recalculation_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Sample_Vehicle</name>
        <label>Assign Sample Vehicle</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_recalculation_Group.Sample_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_recalculation_Group.VIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vinNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recalculation_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recalculation_Group_Has_Sample_Vehicle</name>
        <label>Recalculation Group Has Sample Vehicle ?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_recalculation_Group.Sample_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_recalculation_Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sample_Vehicle</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vehicle - Update Sample Vehicle for Recalculation Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle - Update Sample Vehicle for Recalculation Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_recalculation_Group</name>
        <label>Get Related recalculation Group</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recalculation_Group_Has_Sample_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Batch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recalculation_Group__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sample_Vehicle__c</queriedFields>
        <queriedFields>Vehicle_Batch__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Recalculation_Group</name>
        <label>Update Recalculation Group</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputReference>Get_Related_recalculation_Group</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>License_plate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch_Distribution__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Valuta</stringValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min_Delay</name>
            <connector>
                <targetReference>Get_Related_recalculation_Group</targetReference>
            </connector>
            <label>1 Min Delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
