force-app/main/default/flows/VEHICLE_TRG_After_NavisionVehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>when a vehicle is moved to Infleet then it shall be created in Navision</description>
        <name>Just_moved_to_Infleet</name>
        <label>Just moved to Infleet</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Insert_Integration_Request_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_moved_to_Infleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infleet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Integration_Request_Create</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>yes, moved to Infleet</label>
        </rules>
    </decisions>
    <description>create or update the vehicle in Navision</description>
    <environments>Default</environments>
    <interviewLabel>VEHICLE_TRG_After_NavisionVehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_After_NavisionVehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Integration_Request_Create</name>
        <label>Insert Integration Request - Create</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>NAV-createCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Integration_Request_Update</name>
        <label>Insert Integration Request - Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>NAV-updateCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Just_moved_to_Infleet</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR 2 OR 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>License_plate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch_Distribution__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infleet</stringValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
