force-app/main/default/flows/VEHICLE_TRG_After_BatchCalculatorSelected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>user select batch calculator on the vehicle for the first time (was null previously)</description>
        <name>First_time_Selected_Batch_Calculator</name>
        <label>First time Selected Batch Calculator</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Vehicle_Calculators_in_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_just_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Selected_Batch_Calculator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Batch_Distribution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_initial_Vehicle_Calculator_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>yes, just selected</label>
        </rules>
    </decisions>
    <description>create new vehicle calculator if it is first time or re-calculate draft calculators</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaFutureValueDefault</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Buy_Price__c} * (100 - {!$Record.Selected_Batch_Calculator__r.Period__c}) / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>VEHICLE_TRG_AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_After_reRunCalculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_initial_Vehicle_Calculator_0</name>
        <label>Create initial Vehicle Calculator</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Period__c</field>
            <value>
                <elementReference>$Record.Selected_Batch_Calculator__r.Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarketing_Price__c</field>
            <value>
                <elementReference>formulaFutureValueDefault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Age__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle_Calculator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Vehicle_Calculators_in_Draft</name>
        <label>Get Vehicle Calculators in Draft</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Just_run_update_on_Draft_calculators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Calculator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Just_run_update_on_Draft_calculators</name>
        <label>Just run update on Draft calculators</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Vehicle_Calculators_in_Draft</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_time_Selected_Batch_Calculator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selected_Batch_Calculator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_tax_after_deduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vehicle_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch_Distribution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
