force-app/main/default/flows/VEHICLE_TRG_After_AutoDesktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>construct PATH request body</description>
        <name>Create_request_body</name>
        <label>Create request body</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <actionName>AutoITVehicleUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Insert_Integration_Request_UPDATE_Vehicle</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>updatedFields</name>
            <value>
                <elementReference>setChangedFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>veh</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>patchReqBody</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_changed_field_Current_KM</name>
        <label>Add changed field - Current KM</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>setChangedFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Current_KM__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_of_License_Plate_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_changed_field_First_Registration_Date</name>
        <label>Add changed field - First Registration Date</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>setChangedFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First_Registration_Date__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_number_of_updated_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_changed_field_License_Plate_System</name>
        <label>Add changed field - License Plate System</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>setChangedFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>License_Plate_System__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_of_First_Registration_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Retail_Price_change_field</name>
        <label>Add changed field - Retail Price</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>setChangedFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Retail_Price__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_of_Current_KM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>What_is_number_of_updated_fields</name>
        <label>What is number of updated fields?</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>numberOfUpdatedFields</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>setChangedFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_field_updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if we already have AutoDesktop identifier for this vehicle</description>
        <name>Already_exists_in_AutoDesktop</name>
        <label>Already exists in AutoDesktop?</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Marked_as_Retail_now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, doesn&apos;t exist in AutoDesktop</defaultConnectorLabel>
        <rules>
            <name>yes_exists_in_AutoDesktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AutoDesktop_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sold_in_Xfleet</targetReference>
            </connector>
            <label>yes, exists in AutoDesktop</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if any of fields that shall be synced to AutoDesktop is updated</description>
        <name>Any_field_updated</name>
        <label>Any field updated?</label>
        <locationX>446</locationX>
        <locationY>1955</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_fields_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfUpdatedFields</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_request_body</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_of_Current_KM</name>
        <label>Change of Current KM?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Change_of_License_Plate_System</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_current_km_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_KM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_changed_field_Current_KM</targetReference>
            </connector>
            <label>yes, Current KM changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_of_First_Registration_Date</name>
        <label>Change of First Registration Date?</label>
        <locationX>446</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>What_is_number_of_updated_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_First_Registration_Date_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Registration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_changed_field_First_Registration_Date</targetReference>
            </connector>
            <label>yes, First Registration Date changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_of_License_Plate_System</name>
        <label>Change of License Plate System?</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Change_of_First_Registration_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_License_Plate_System_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Plate_System__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_changed_field_License_Plate_System</targetReference>
            </connector>
            <label>yes, License Plate System changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_of_Retail_Price</name>
        <label>Change of Retail Price?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Change_of_Current_KM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_price_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Retail_Price_change_field</targetReference>
            </connector>
            <label>yes, price changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the vehicle has just been sold in Xfleet</description>
        <name>Is_Sold_in_Xfleet</name>
        <label>Is Sold in Xfleet?</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Change_of_Retail_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Confirmed_Remarketing_Price_Converted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Integration_Request_Mark_As_SOLD</targetReference>
            </connector>
            <label>Sold</label>
        </rules>
    </decisions>
    <decisions>
        <description>to create in AutoDesktop only when just marked as Retail</description>
        <name>Marked_as_Retail_now</name>
        <label>Marked as Retail now?</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>just_set_to_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retail_Sales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retail_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Integration_Request_INSERT_Vehicle</targetReference>
            </connector>
            <label>just set to Retail</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if user performing the changes is AutoDesktop integration user, if so skip the sync</description>
        <name>Skip_for_changes_done_from_AutoDesktop</name>
        <label>Skip for changes done from AutoDesktop</label>
        <locationX>198</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Already_exists_in_AutoDesktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, process the sync to AutoDesktop</defaultConnectorLabel>
        <rules>
            <name>yes_autodesktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.AutoDesktop_Integration_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>yes, AutoDeskopt integration user</label>
        </rules>
    </decisions>
    <description>integration to AutoDesktop, called when every vehicle shall be synced to AutoDesktop</description>
    <interviewLabel>VEHICLE_TRG_After_AutoDesktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_After_AutoDesktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Insert_Integration_Request_UPDATE_Vehicle</name>
        <label>Insert Integration Request - UPDATE Vehicle</label>
        <locationX>314</locationX>
        <locationY>2171</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>AutoIT-updateCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data__c</field>
            <value>
                <elementReference>patchReqBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Integration_Request_INSERT_Vehicle</name>
        <label>Insert Integration Request - INSERT Vehicle</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>AutoIT-createCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Integration_Request_Mark_As_SOLD</name>
        <label>Insert Integration Request - Mark As SOLD</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>AutoIT-markAsSold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_for_changes_done_from_AutoDesktop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND ((NOT(10) AND 11) OR 10)</filterLogic>
        <filters>
            <field>Retail_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Integration_Requests_Number_Total__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Registration_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>License_Plate_System__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_KM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retail_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Vehicle_Inspection__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retail_Sales__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Confirmed_Remarketing_Price_Converted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Re_marketing_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Re_marketing_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfUpdatedFields</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>patchReqBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>set of fields that have been update and shall be sent to AutoDesktop</description>
        <name>setChangedFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
