force-app/main/default/flows/VEHICLE_TRG_After_CalculateLeasingCost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>call apex method to calculate leasing cost per month for the vehicle</description>
        <name>Calculate_Leasing_Cost</name>
        <label>Calculate Leasing Cost</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>CalculationsLeasing</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Calculated_Leasing_Cost_on_Vehicle</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>algorithm</name>
            <value>
                <elementReference>leasingAlgorithmNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>futureValue</name>
            <value>
                <elementReference>$Record.Sales_Price_Formula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interestRate</name>
            <value>
                <elementReference>interestRateInProcents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodLength</name>
            <value>
                <elementReference>$Record.Leasing_Period__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>presentValue</name>
            <value>
                <elementReference>$Record.Total_Buy_Price__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>$Record.Final_tax_after_deduction__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taxType</name>
            <value>
                <elementReference>$Record.Batch_Distribution__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>if all required information are available calculate monthly leasing cost for the vehicle</description>
    <formulas>
        <name>interestRateInProcents</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Leasing_Rate_Contract__c}/100</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>leasingAlgorithmNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.leasing_Account__r.Leasing_Algorithm__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>VEHICLE_TRG_After_CalculateLeasingCost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_After_CalculateLeasingCost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Save_Calculated_Leasing_Cost_on_Vehicle</name>
        <label>Save Calculated Leasing Cost on Vehicle</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leasing_Cost_Per_Month__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Calculate_Leasing_Cost.leasingCostPerMonth</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Leasing_Cost_Per_Month__c</field>
            <value>
                <elementReference>Calculate_Leasing_Cost.leasingCostPerMonth</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Leasing_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leasing_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch_Distribution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Leasing_Period__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Buy_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Price_Formula__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_tax_after_deduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Leasing_Rate_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
