force-app/main/default/flows/VEHICLEBATCH_TRG_Deal_to_new_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_on_Single_record</name>
        <label>Set on Single record</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Set_opportunity_on_all_vehicles_from_the_batch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_opportunity_on_all_vehicles_from_the_batch.Re_marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready to sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVehiclesForUpate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_opportunity_on_all_vehicles_from_the_batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_on_all_vehicles_from_the_batch</targetReference>
        </connector>
    </assignments>
    <description>automatically create opportunity for closed Deal</description>
    <formulas>
        <name>formClosedDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},{!$Record.Shortest_Holding_Period__c}-2)</expression>
    </formulas>
    <interviewLabel>VEHICLEBATCH_TRG_Deal_to_new_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLEBATCH_TRG_Deal_to_new_Opportunity</label>
    <loops>
        <name>Set_opportunity_on_all_vehicles_from_the_batch</name>
        <label>Set opportunity on all vehicles from the batch</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Select_Vehicles_from_Batch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_on_Single_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Vehicles_with_Opportunity_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Select_Vehicles_from_Batch</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Setup.FleetManagementConfig__c.DefaultOppAccountId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holding_Period_Length__c</field>
            <value>
                <elementReference>$Record.Shortest_Holding_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Date__c</field>
            <value>
                <elementReference>$Record.Required_by_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Select_Vehicles_from_Batch</name>
        <label>Select Vehicles from Batch</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_opportunity_on_all_vehicles_from_the_batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicles_with_Opportunity_Id</name>
        <label>Update Vehicles with Opportunity Id</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>colVehiclesForUpate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal</stringValue>
            </value>
        </filters>
        <object>vehicleBatch__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colVehiclesForUpate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
