force-app/main/default/flows/VEHICLECALCULATOR_TRG_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Tax_and_Holding_Costs</name>
        <label>Calculate Tax and Holding Costs</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>CalculationsHoldingCost</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_calculation_results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>periodLength</name>
            <value>
                <elementReference>$Record.Period__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>$Record.Vehicle__r.Final_tax_after_deduction__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleAge</name>
            <value>
                <elementReference>$Record.Vehicle_Age__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleDamageGroup</name>
            <value>
                <elementReference>VehicleGroupFormula</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_calculation_record_after_is_Selected</name>
        <label>Lock calculation record after is Selected</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>LockingUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lockRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_in_Draft</name>
        <label>Is in Draft?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Tax_and_Holding_Costs</targetReference>
            </connector>
            <label>yes, Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discard_previously_Selected_Calculation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>automatic recalculation of tax, service and damage</description>
    <formulas>
        <description>calculate Vehicle Group id, first from vehicle itself, or from related batch if it is empty on vehicle</description>
        <name>VehicleGroupFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Vehicle__r.Vehicle_Group__c}), {!$Record.Vehicle__r.Vehicle_Batch__r.Vehicle_Group__r.Service_and_Damage_Group__c},
{!$Record.Vehicle__r.Vehicle_Group__r.Service_and_Damage_Group__c})</expression>
    </formulas>
    <interviewLabel>VEHICLECALCULATOR_TRG_AfterInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLECALCULATOR_TRG_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Discard_previously_Selected_Calculation</name>
        <label>Discard previously Selected Calculation</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Set_Selected_calculator_on_Vehicle_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__r.Selected_Vehicle_Calculator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Calculator__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Leasing_Rate_and_Contract_fee</name>
        <label>Set Leasing Rate and Contract fee</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Is_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Fee_On_delivery__c</field>
            <value>
                <elementReference>$Record.Vehicle__r.Leasing_Contract_Fee_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Rate__c</field>
            <value>
                <elementReference>$Record.Vehicle__r.Leasing_Rate_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Selected_calculator_on_Vehicle_record</name>
        <label>Set Selected calculator on Vehicle record</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Lock_calculation_record_after_is_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Vehicle_Calculator__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Store_calculation_results</name>
        <label>Store calculation results</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Leasing_Rate_and_Contract_fee</targetReference>
        </connector>
        <inputAssignments>
            <field>Damages_estimate_for_period__c</field>
            <value>
                <elementReference>Calculate_Tax_and_Holding_Costs.damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Tax_authorities__c</field>
            <value>
                <elementReference>Calculate_Tax_and_Holding_Costs.interestToTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L94_registration_tax__c</field>
            <value>
                <elementReference>Calculate_Tax_and_Holding_Costs.registrationTaxL94</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tires_Service__c</field>
            <value>
                <elementReference>Calculate_Tax_and_Holding_Costs.serviceAndTyres</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_in_Draft</targetReference>
        </connector>
        <object>Vehicle_Calculator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
