force-app/main/default/flows/VEHICLE_TRG_BeforeUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>when the batch calculator is first time selected on the vehicle then populate some default values from it</description>
        <name>First_Batch_Calculator_is_Selected_on_the_Vehicle</name>
        <label>First Batch Calculator is Selected on the Vehicle</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>set_leasing_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, not selected</defaultConnectorLabel>
        <rules>
            <name>Batch_Calculator_just_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Selected_Batch_Calculator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_default_Vehicle_Group</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Batch Calculator just Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registration_Date_Changed</name>
        <label>Is Registration Date Changed</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>no, Registration Date NOT Changed</defaultConnectorLabel>
        <rules>
            <name>Registration_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updates_after_Registration_Date_Change</targetReference>
            </connector>
            <label>yes, Registration Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>set_leasing_account</name>
        <label>Leasing account yes / no?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Is_Registration_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>leasing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leasing_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leasing_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_rate</targetReference>
            </connector>
            <label>leasing</label>
        </rules>
    </decisions>
    <description>run before update of a vehicle</description>
    <interviewLabel>VEHICLE_TRG_AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_BeforeUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>only if not set yet</description>
        <name>Set_default_Leasing_Account</name>
        <label>Set default Leasing Account</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>set_leasing_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leasing_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Leasing_contract_fee__c</field>
            <value>
                <elementReference>$Record.Selected_Batch_Calculator__r.Account_finance__r.Leasing_contract_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leasing_Account__c</field>
            <value>
                <elementReference>$Record.Selected_Batch_Calculator__r.Account_finance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leasing_rate_actual__c</field>
            <value>
                <elementReference>$Record.Selected_Batch_Calculator__r.Account_finance__r.Leasing_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>only if not set yet</description>
        <name>Set_default_Vehicle_Group</name>
        <label>Set default Vehicle Group</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_default_Leasing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Vehicle_Group__c</field>
            <value>
                <elementReference>$Record.Selected_Batch_Calculator__r.Vehicle_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_rate</name>
        <label>update rate</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Is_Registration_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Leasing_contract_fee__c</field>
            <value>
                <elementReference>$Record.leasing_Account__r.Leasing_contract_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leasing_rate_actual__c</field>
            <value>
                <elementReference>$Record.leasing_Account__r.Leasing_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updates_after_Registration_Date_Change</name>
        <label>Updates after Registration Date Change</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>Last_Calculation_Date__c</field>
            <value>
                <elementReference>$Record.Registration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Batch_Calculator_is_Selected_on_the_Vehicle</targetReference>
        </connector>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
