force-app/main/default/flows/VEHICLE_TRG_RollUps_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Count_of_Vehicles</name>
        <label>Set Count of Vehicles</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCountOfVehicles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_All_Vehicles_for_the_same_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculate_SUMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Sales_Price_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRemainingKM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Remaining_KM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRemainingDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculate_SUMs.Remaining_period__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculate_SUMs</targetReference>
        </connector>
    </assignments>
    <description>custom rollup summaries for lookup relationship from Vehicle to Opportunity</description>
    <interviewLabel>VEHICLE_TRG_RollUps_to_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_RollUps_to_Opportunity</label>
    <loops>
        <name>calculate_SUMs</name>
        <label>calculate SUMs</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Select_All_Vehicles_for_the_same_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Rollups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Select_All_Vehicles_for_the_same_Opportunity</name>
        <label>Select All Vehicles for the same Opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Vehicles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Rollups</name>
        <label>Update Opportunity Rollups</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <elementReference>varCountOfVehicles</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_All_Vehicles_for_the_same_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Price_Formula__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_KM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expected_Defleet_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>varCountOfVehicles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalRemainingDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalRemainingKM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
