force-app/main/default/flows/VEHICLE_TRG_After_AutoDesktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>check if we already have AutoDesktop identifier for this vehicle</description>
        <name>Already_exists_in_AutoDesktop</name>
        <label>Already exists in AutoDesktop?</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Insert_Integration_Request_INSERT_Vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, doesn&apos;t exist in AutoDesktop</defaultConnectorLabel>
        <rules>
            <name>yes_exists_in_AutoDesktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AutoDesktop_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Insert_Integration_Request_UPDATE_Vehicle</targetReference>
            </connector>
            <label>yes, exists in AutoDesktop</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if user performing the changes is AutoDesktop integration user, if so skip the sync</description>
        <name>Skip_for_changes_done_from_AutoDesktop</name>
        <label>Skip for changes done from AutoDesktop</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Already_exists_in_AutoDesktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no, process the sync to AutoDesktop</defaultConnectorLabel>
        <rules>
            <name>yes_autodesktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.AutoDesktop_Integration_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>yes, AutoDeskopt integration user</label>
        </rules>
    </decisions>
    <description>integration to AutoDesktop, called when every vehicle shall be synced to AutoDesktop</description>
    <environments>Default</environments>
    <interviewLabel>VEHICLE_TRG_After_AutoDesktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEHICLE_TRG_After_AutoDesktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Insert_Integration_Request_UPDATE_Vehicle</name>
        <label>Insert Integration Request - UPDATE Vehicle</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>AutoIT-updateCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Integration_Request_INSERT_Vehicle</name>
        <label>Insert Integration Request - INSERT Vehicle</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>API_Method__c</field>
            <value>
                <stringValue>AutoIT-createCar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_for_changes_done_from_AutoDesktop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Retail_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Integration_Requests_Number_Total__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Registration_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>License_plate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_KM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retail_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Vehicle_Inspection__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Car_remark__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retail_Sales__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
